

<!DOCTYPE HTML>
<html>
  <head>
	{% stylesheets 'bundles/bkplatform/css/main.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
    <meta charset="utf-8">
	<h1 class="tab bkTitle">Bienvenue  {{ app.user.login }} !</h1>
	
	
	
	<ul id="menu_horizontal">
	<li><a href="{{ path('bk_platform_homepage')}}">Accueil</a></li>
	<li><a href="{{ path('bk_platform_lister')}}">Liste d'amis</a></li>
	<li><a href="{{ path('bk_platform_rechercher')}}">Rechercher un ami</a></li>
	<li><a  href="{{ path('bk_platform_modification')}}">Vos informations</a></li>
	<li style="float:right"><a class="active" href="{{ path('logout')}}">Déconnexion</a></li>
	</ul>
	
	

  </head>
  <body>
		
		<frameset rows="100,*,60" border="1">
  <frame id="frame_haut" src="" name="frame_haut" style=" background-color:#F60"/>
  <frame id="frame_centre" src="" name="frame_centre" style=" background-color:#000"/>
   <frame id="frame_bas" src="" name="frame_bas" style=" background-color:#F60"/>
</frameset>

    {% block body %}
    {% endblock %}

  </body>
</html>